## DV1597 Assignment 1

Namn

***

#### Initialize

In [2]:
# Import packages

import pandas as pd

C:\Users\vikto\AppData\Local\Temp\ipykernel_13164\2868139195.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [11]:
# Load datasets
PATH = 'Assignment 2_datasets/Assignment 2_datasets/'
df_daily = pd.read_csv(PATH + '1.COVID-19_daily_number_of_new_cases_and_deaths.csv')
df_vaccination = pd.read_csv(PATH + '2.COVID-19_vaccination.csv')
df_admissions = pd.read_csv(PATH + '3.COVID-19_hospital_and_ICU_admission_rates.csv')

df_daily
# df_vaccination
# df_admissions

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2020,continentExp
0,23/10/2022,23,10,2022,3557.0,0.0,Austria,AT,AUT,8901064,Europe
1,22/10/2022,22,10,2022,5494.0,4.0,Austria,AT,AUT,8901064,Europe
2,21/10/2022,21,10,2022,7776.0,4.0,Austria,AT,AUT,8901064,Europe
3,20/10/2022,20,10,2022,8221.0,6.0,Austria,AT,AUT,8901064,Europe
4,19/10/2022,19,10,2022,10007.0,8.0,Austria,AT,AUT,8901064,Europe
...,...,...,...,...,...,...,...,...,...,...,...
28724,08/02/2020,8,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
28725,07/02/2020,7,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
28726,06/02/2020,6,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
28727,05/02/2020,5,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
28728,04/02/2020,4,2,2020,1.0,0.0,Sweden,SE,SWE,10327589,Europe

***

### Part 1

#### 1.
Since 2020 till 2022, which top 10 countries reported the most number of cases of COVID-19 in quarters per year (Q1-Q4 in each year)? Do you find these numbers relatively high compared to the countryâ€™s population? Do you see any connection among these countries regarding their geographical locations and the period in which most cases are observed? Discuss your observations.