## DV1597 Assignment 1

Namn

***

#### Initialize

In [2]:
# Import packages
import pandas as pd
import matplotlib.pyplot as mpl
import seaborn as sb
import numpy as np

In [3]:
# Load dataset
df = pd.read_csv('SMHI_Dataset/SMHI_Dataset/SMHI_Data.csv')
df

             Datum Tid (UTC)  Lufttemperatur
0       2010-03-01  00:00:00             2.0
1       2010-03-01  01:00:00             2.2
2       2010-03-01  02:00:00             2.2
3       2010-03-01  03:00:00             1.7
4       2010-03-01  04:00:00             1.7
...            ...       ...             ...
122851  2024-01-01  02:00:00             3.9
122852  2024-01-01  03:00:00             3.9
122853  2024-01-01  04:00:00             3.7
122854  2024-01-01  05:00:00             3.6
122855  2024-01-01  06:00:00             3.5

[122856 rows x 3 columns]

***

### Part 1

Q1. Explain the data cleaning steps you consider for analyzing the provided dataset. You must motivate and describe why, how, and in which order
you are going to apply the selected steps to the dataset. Note that you should consider applying your proposed data cleaning steps on the dataset
to answer Q2-Q11.

Q2. Does the dataset contain any missing values? If so, how many in both absolute terms and percentages? Reflect on the number of missing values.
Do you regard it as much or not?

Q3. Which strategy was used for handling the missing values? Motivate why you consider the selected strategy the most suitable for this task.

Q4. Calculate the following statistics for the air temperature values in the dataset:
•minimum value
•maximum value
•sample mean
•Q1/Q2/Q3 quartiles
•sample standard deviation
•95% confidence interval of the mean

Q5. Plot all available air temperature data as a line plot with dates on the x-axis. 

Q6. Rank the overall temperature per month, sort from the coldest to the warmest. List the top ten (10) coldest months in the dataset. Format the
output as: YEAR/Month: temp, e.g.“2010/January: -5.0”

In [4]:
# Missing values investigation
df.drop_duplicates()
date = None

duplicates = []
missing_times = []
timestamps = []

for i, row in df.iterrows(): # Iterate over all rows
    if date is None:
        date = row['Datum']
    time = int(row['Tid (UTC)'][:2]) # Get time from data point
    
    if row['Datum'] != date: # New date found
        for ii in range(24): # Count if all times are included
            counter = timestamps.count(ii)
            if counter == 0:
                missing_times.append(date + " ["+ str(ii)+"]")
            elif counter > 1:
                duplicates.append(date + " [" + str(ii) + "] (" + str(counter)+")")
        
        date = row['Datum']
        time = int(row['Tid (UTC)'][:2])
        timestamps = [time]
    else:
        timestamps.append(time)

print("Duplicated values:", len(duplicates))
print("Missing values:", len(missing_times))

# Save missing times and duplicates info
with open("log/log_dup.txt", 'w') as file:
    for line in duplicates:
        file.write("%s\n" % line)

with open("log/log_mis.txt", 'w') as file:
    for line in missing_times:
        file.write("%s\n" % line)

***

### Part 2 (D)

Q7. Which distribution is suitable to consider to fit the air temperature data? How well does the data follow that distribution given some measure, e.g., p-value?

***

### Part 3 (C)

Q8. Do you regard any of the air temperature measures in the dataset to be extreme values/outliers? If so, how many values? Motivate why you
consider these values as anomalies.

Q9. Calculate the mean temperature for each day in the year 2023 and then plot those means using a line plot with dates on the x-axis.

***

### Part 4 (B)

Q10. Rank the overall temperature per two (2) consecutive months starting with the warmest 2-month period first, e.g., (Y1M1+Y1M2)/2, (Y1M2+Y1M3)/2,... (Y1M11+Y1M1)/2, (Y1M12+Y2M1)/2,.... After that, you should sort those means from highest to lowest and list the ten (10) warmest 2-month periods all together in the dataset.

***

### Part 5 (A)

Q11. Calculate the 95% confidence intervals (CI) for the mean of each daily average in Q9 and add it to the line plot that shows the mean values of
each day of the year 2023. You can, for example, solve this by plotting the upper and lower bounds as lines above and below the mean line in your
plot. Another more nicely looking solution is to visualize the CI as shades around the mean line in your plot.